<h5>Consulta de medicos</h5>
<p>Listagem de medicos Cadastrados</p>

<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th>Nome do medico</th>
      <th class="d-none d-md-table-cell">CRM</th>
      <th class="d-none d-sm-table-cell">Telefone</th>
      <th class="d-none d-lg-table-cell">Tipo</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let m of medicos">

      <td>{{m.nome}}</td>
      <td class="d-none d-md-table-cell">{{m.crm}}</td>
      <td class="d-none d-sm-table-cell">{{m.telefone}}</td>
      <td class="d-none d-lg-table-cell">{{m.tipo}}</td>

      <td>
        <button class="btn btn-sm botaoeditar" [routerLink]="['/editar-medicos',m.idMedico]">Editar</button>
        &nbsp;
        <button class="btn btn-dark btn-sm" (click)="excluir(m.idMedico)">Excluir</button>

      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan=" 6">Total de registros: {{medicos.length}}

      </td>
    </tr>
    <tr>
      <td colspan=" 6">
        <button class="btn btn-dark btn-sm" (click)="relatorio()">Relatorio em PDF</button>
      </td>

    </tr>
  </tfoot>
</table>
